*.jar
*.war
*.class
*.lock
*.DS_Store
*.swp
*.out
target/
pls-manage/manage/
/.idea
*.iml
*.ipr
*.iws
*.bak
.settings/
.classpath
.project
.metadata/
.idea/
logs/
*.log
dependency-reduced-pom.xml
/bin
git
git.pub
.dubbo/
/*.iml
/pls-manage/manage/static/css/*.css
/pls-manage/manage/static/fonts/*.ttf
/pls-manage/manage/static/js/*.js
/pls-manage/manage
manage
